<%= form_with(model: the_q, local: true) do |form| %>
  <% if the_q.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(the_q.errors.count, "error") %> prohibited this the_q from being saved:</h2>

      <ul>
      <% the_q.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :the_q_title %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :the_q_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
