<p id="notice"><%= notice %></p>

<h1>The Qs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @the_qs.each do |the_q| %>
      <tr>
        <td><%= the_q.title %></td>
        <td><%= the_q.user_id %></td>
        <td><%= link_to 'Show', the_q %></td>
        <td><%= link_to 'Edit', edit_the_q_path(the_q) %></td>
        <td><%= link_to 'Destroy', the_q, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New The Q', new_the_q_path %>
