<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @the_q.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @the_q.user_id %>
</p>

<%= link_to 'Edit', edit_the_q_path(@the_q) %> |
<%= link_to 'Back', the_qs_path %>
